flask

flask-sqlalchemy
Flask-WTF
Flask-Login
wtforms[email]
Flask-Migrate
stripe
vcrpy

flask-assets
cssmin
jsmin
sentry-sdk[flask]

psycopg2

flask-debugtoolbar
Flask-Caching

Flask-RQ2
rq-dashboard
rq==1.4.3
fakeredis

gunicorn
requests

pytest
pytest-flask
pytest-cov